html, body{
    padding: 0;
    margin: 0;
    background-image: url("../img/rana-sawalha-364253-unsplash.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.header{
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.41);
    width: 100%;
    height: 54px;
    line-height: 58px;
}

.header-logo{
    display: inline-block;
    width: 85px;
    margin-left: 6%;
}

.header-text{
    margin: 0;
    font-family: Verdana;
    font-size: 23px;
    font-variant: all-petite-caps;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: white;
}
.header-logo a{
    text-decoration: none;
}
.header-logo p:hover{
    color:#3cb878;
}

.right{
    display: inline-block;
    float: right;
    margin-right: 75px;
}

.icons {
    display: inline-block;
}

.icon{
    display: inline-block;
    margin-right: 28px;
}

.line{
    display: inline-block;
    border-right: 1px dotted white;
    border-width: 1px;
    border-color: #dfdddd;
    border-style: solid;
    opacity: 0.1;
    width: -1px;
    height: 17px;
}

.header-regist{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 22px;
    padding-left: 0;
    font-family: Verdana;
    font-size: 14px;
}

.header-regist-li{
    display: inline-block;
    list-style: none;
    color: #ffffff;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.header-regist-li a{
    text-decoration: none;
    color: #3cb878;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.header-regist-li a:hover{
    text-decoration: underline;
}

.first-icon{
    width: 19px;
    height: 19px;
    line-height: 54px;
    margin-top: 17px;
    margin-left: auto;
    display: inline-block;
    background: url("../img/sprites.png") no-repeat -63px -18px;
}

.first-icon:hover{
    background-position: -18px -19px ;
}

.second-icon{
    width: 28px;
    height: 20px;
    line-height: 54px;
    margin-top: 17px;
    margin-left: 20px;
    display: inline-block;
    background: url("../img/sprites.png") no-repeat -59px -61px;
}

.second-icon:hover{
    background-position: -13px -63px;
}

.third-icon{
    width: 20px;
    height: 20px;
    line-height: 54px;
    margin: 17px 20px 0 18px;
    display: inline-block;
    background: url("../img/sprites.png") no-repeat -64px -110px;
}

.third-icon:hover{
    background-position: -15px -112px;
}

.flex-center{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 54px);
}

.center-form{
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
    background-color: white;
    border-radius: 3%;
}

.center-form-header{
    margin: 0;
    width: 100%;
    height: 70px;
}

.center-form-header-left-green-square{
    display: inline-block;
    background-color: #3cb878;
    width: 18px;
    height: 18px;
    margin-top: 29px;
    margin-left: 0;
}

.center-form-header-left-text{
    display: inline-block;
    font-family: Verdana;
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-left: 42px;
}

.center-form-header-right-text {
    display: inline-block;
    margin-left: 205px;
}

.center-form-header-right-text a{
    text-decoration: none;
    font-family: Verdana;
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.center-form-header-right-text a:hover{
    text-decoration: underline;
}

.center-form-buttons{
    position: absolute;
    top: 30px;
    left: 0px;
    margin-top: 23px;
}

.button {
    border-radius: 3px;
    width: 157px;
    height: 46px;
    margin-top: 23px;
    margin-left: 62px;
    padding: 0;
    float: left;
}

.button p {
    font-family: Verdana;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

.facebook-button {
    background-color: #305db8;
    border: none;
}

.facebook-button:hover {
    background-color: #264b96;
}

.google-button {
    margin-left: 8px;
    background-color: #df4a32;
    border: none;
}

.google-button:hover {
    background-color: #c3412c;
}

.div-f{
    display: inline-block;
    float: left;
}

.facebook-button-text-f{
    font-size: 19px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 5px;
}

.line-2 {
    border: 1px solid #000000;
    opacity: 0.1;
    height: 25px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 5px;
    float: left;
}

.div-facebook{
    display: inline-block;
    float: left;
    margin-top: 5px;
}

.facebook-button-text-face{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.div-G{
    display: inline-block;
    float: left;
    margin-right: -8px;
}

.google-button-text-G{
    font-size: 19px;
    font-weight: 700;
    margin-left: 15px;
    padding-top: 5px;
}

.div-google{
    display: inline-block;
    float: left;
    margin-top: 5px;
}

.google-button-text-goog{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-left: 8px;
}

.div-or{
    position: absolute;
    top: 130px;
}

.or{
    font-family: Verdana;
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    display: inline-block;
    float: left;
}

.line-3 {
    display: inline-block;
    float: left;
    border: 1px solid #eaeaea;
    width: 133px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 24px;
    float: left;
}

.form{
    position: absolute;
    top: 170px;
    left: 62px;
}

input[type=text], input[type=email], input[type=password] {
    border-radius: 3px;
    border: 1px solid #eaeaea;
    width: 300px;
    height: 44px;
    margin-top: 9px;
    padding-left: 20px;
    font-family: Verdana;
    color: #434343;
    font-size: 14px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    width: 302px;
    height: 46px;
    margin-top: 9px;
    outline: none;
    color:#434343;
}

.div-agree{
    position: absolute;
    top: 475px;
    left: 62px;
}

.div-agree label{
    float: left;
    font-family: Verdana;
    color: #434343;
    font-size: 14px;
}

input.check-box {
    float: left;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url("../img/css_sprites-3.png") no-repeat -10px -10px;
    margin: 0 10px 0 1px;
    -webkit-appearance: none;
    outline: none;
}

input.check-box:checked {
    float: left;
    padding: 0;
    margin: 0 10px 0 1px;
    background-position: -50px -10px;

}

.div-agree label a {
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.div-agree label a:hover{
    text-decoration: underline;
}

.create-account {
    position: absolute;
    top: 500px;
    left: 62px;
    border-radius: 3px;
    background-color: #3cb878;
    width: 322px;
    height: 46px;
    margin-top: 15px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 16px;
    border: none;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.create-account:hover{
    background-color: #329a65;
}





